{% extends "base_generic.html" %}

{% block title %}Buscar Usuario para Asignar Medidor{% endblock %}

{% block content %}
<h2>Buscar Usuario para Asignar Medidor</h2>
<form method="get" action="{% url 'medidores:buscar_usuario_para_medidor' %}">
    <input type="text" name="q" placeholder="Buscar por nombre..." value="{{ query }}" class="form-control mb-3">
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<table class="table mt-4">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>RUT</th>
            <th>Correo</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.rut }}</td>
            <td>{{ usuario.correo }}</td>
            <td>
                <a href="{% url 'medidores:agregar_medidor_usuario' usuario.id %}" class="btn btn-secondary">Asignar Medidor</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
