{% extends "tarifas/base_tarifas.html" %}

{% block title %}Agregar Tarifa{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
            <h2>Agregar Nueva Tarifa</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between mt-4">
                    <!-- Botón para cancelar -->
                    <a href="{% url 'tarifas:historial_tarifas' %}" class="btn btn-secondary">
                        <i class="fas fa-times"></i> Cancelar
                    </a>
                    <!-- Botón para guardar -->
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Botón para volver al dashboard -->
    <div class="mt-3 text-center">
        <a href="{% url 'roles:redireccion_dashboard' %}" class="btn btn-dark">
            <i class="fas fa-arrow-left"></i> Volver al Dashboard
        </a>
    </div>
</div>
{% endblock %}
